@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #222831;
    --cor-secundaria: #DFD0B8;
    --cor-terciaria: #948979;

    --font-principal: "Montserrat", sans-serif;
}

body {
    width: 100%;
    background-color: var(--cor-primaria);
    padding-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container_input {
    display: flex;
    position: relative;
}

.container_input_nome{
    box-sizing: border-box;
    text-align: center;
    padding-top: 7px;
    width: 22.5rem;
    height: 2.3rem;
    border-radius: 1rem;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 600;
}

.container_input_texto {
    box-sizing: border-box;
    padding-right: 5rem;
    padding-left: 1rem;
    width: 22.5rem;
    height: 2.3rem;
    border-radius: 1rem;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 600;
}

.container_botao {
    width: 4.75rem;
    height: 1.7rem;
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 1rem;
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: bold;
}

.container_botao:hover {
    background-color: #7D7365;
}

.container_botoes_botao:hover {
    background-color: #7D7365;
}

.container_nomes_lista {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding: 18px 18px 18px 30px;
    width: 22.5rem;
    height: 20rem;
    border-radius: 1rem;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: bold;
}

.container_botoes {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.container_botoes_botao {
    width: 6.8rem;
    height: 1.7rem;
    border-radius: 1rem;
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: bold;
}